{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static 'css/blog.css' %}">

	<title>Django Boyz blog</title>
</head>
   <body>
        <div class="page-header">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container-fluid">
            <div class="row">
                <div class="col-md-12 mycontainer">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>