<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <title>Django Boyz blog</title>
</head>
<body>
<div>
                <h1><a href="">Django Girls Blog</a></h1>
            </div>

            <div>
                
                {% for post in posts %}
                	<p>{{post}}</p>
                	<p>{{post.title}}:</p>
                	<p>{{post.text}}</p>
                	<p>Creado en: {{post.created_date}}</p>
                	<p>Publicado en: {{post.published_date}}</p>
                	
                {% endfor %}

            </div>

            <div>
                <p><strong>{{posts}}</strong></p>
            </div>
	
</body>
</html>